<main>
<!-- featured trip -->
<div class="bg-dark text-white p-4 p-md-5 rounded">
  <h1 class="fst-italic">Featured Destination</h1>
  <p class="my-3">Sub title</p>
  <p class="lead mb-0">
    <a href="" class="link-secondary">See Details</a>
  </p>
</div>
<!-- destination cards -->
<div class="row">
  <!-- individual card -->
  <div class="col-md-6">
    <div class="row">
      <div class="col">
        <h3>Location</h3>
      </div>
      <div class="col-auto">
        <!-- Image -->
      </div>
    </div>
  </div>
</div>
</main>
