<main>
 <div class="grid-container">

  <div class="card" style="width: 18rem;">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Collage_Firenze.jpg/405px-Collage_Firenze.jpg"
      class="card-img-top"
      alt="...">
    <div class="card-body">
      <h5 class="card-title">Florence, Italy</h5>
      <p class="card-text">Florence, capital of Italy’s Tuscany region, is home to many masterpieces of Renaissance art and architecture. One of its most iconic sights is the Duomo, a cathedral with a terracotta-tiled dome engineered by Brunelleschi and a bell tower by Giotto.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Collage_Firenze.jpg/405px-Collage_Firenze.jpg"
      class="card-img-top"
      alt="...">
    <div class="card-body">
      <h5 class="card-title">Florence, Italy</h5>
      <p class="card-text">Florence, capital of Italy’s Tuscany region, is home to many masterpieces of Renaissance art and architecture. One of its most iconic sights is the Duomo, a cathedral with a terracotta-tiled dome engineered by Brunelleschi and a bell tower by Giotto.</p>
    </div>
  </div>

  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Collage_Firenze.jpg/405px-Collage_Firenze.jpg"
      class="card-img-top"
      alt="...">
    <div class="card-body">
      <h5 class="card-title">Florence, Italy</h5>
      <p class="card-text">Florence, capital of Italy’s Tuscany region, is home to many masterpieces of Renaissance art and architecture. One of its most iconic sights is the Duomo, a cathedral with a terracotta-tiled dome engineered by Brunelleschi and a bell tower by Giotto.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Collage_Firenze.jpg/405px-Collage_Firenze.jpg"
      class="card-img-top"
      alt="...">
    <div class="card-body">
      <h5 class="card-title">Florence, Italy</h5>
      <p class="card-text">Florence, capital of Italy’s Tuscany region, is home to many masterpieces of Renaissance art and architecture. One of its most iconic sights is the Duomo, a cathedral with a terracotta-tiled dome engineered by Brunelleschi and a bell tower by Giotto.</p>
    </div>
  </div>

 </div>
</main>
